@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Generate Excel File</h1>

    <button id="btnGenerateFile">Generate File</button>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.12/signalr.min.js"></script>
<script>
    // Connect to SignalR Hub to receive notifications when the file is ready
        const connection = new signalR.HubConnectionBuilder()
        .withUrl("http://localhost:5054/excelNotificationHub") // SignalR Hub URL
        .configureLogging(signalR.LogLevel.Information) // To facilitate debugging
            .build();

    // Configure receiving notification from the server
        connection.on("ReceiveNotification", (jobId) => {
        downloadFile(jobId); // Calls the method to download the file when ready
        });

        // Inicia a conexão com o SignalR
        connection.start().then(() => {
            document.getElementById("btnGenerateFile").addEventListener("click", () => {
            generateExcel(); // Generates Excel on button click
            });

            console.log("Conectado ao ExcelNotificationHub!");
        // Here you can call Hub methods or configure listeners
    })
    .catch(err => console.error("Erro ao conectar ao Hub: ", err));


    // Function to send request to generate Excel
        async function generateExcel() {
            const response = await fetch('http://localhost:5054/generate', { method: 'POST' });
            const data = await response.json();
            console.log("Excel generation started with jobId: " + data.jobId);
        }

    // Function to download the Excel file
        async function downloadFile(jobId) {
        const downloadResponse = await fetch(`http://localhost:5054/wait-for-file/${jobId}`);

            if (downloadResponse.ok) {
                const blob = await downloadResponse.blob();
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'Report.xlsx'; // Name of the file to be downloaded
                document.body.appendChild(a);
                a.click();
                a.remove();
            } else {
            console.error('Error generating the file.');
            }
        }
</script>