@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
     <h1>Gerar Arquivo Excel</h1>

    <button id="gerarExcelBtn">Gerar Excel</button>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.12/signalr.min.js"></script>
<script>
        // Conectar ao SignalR Hub para receber notificações de quando o arquivo estiver pronto
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("http://localhost:5054/excelNotificationHub") // URL do SignalR Hub
            .configureLogging(signalR.LogLevel.Information) // Para facilitar o debug
            .build();

        // Configurar o recebimento da notificação do servidor
        connection.on("ReceiveNotification", (jobId) => {
            downloadFile(jobId); // Chama o método para baixar o arquivo quando pronto
        });

        // Inicia a conexão com o SignalR
        connection.start().then(() => {
            document.getElementById("gerarExcelBtn").addEventListener("click", () => {
            generateExcel(); // Gera o Excel ao clicar no botão
            });

            console.log("Conectado ao ExcelNotificationHub!");
        // Aqui você pode chamar métodos do Hub ou configurar listeners
    })
    .catch(err => console.error("Erro ao conectar ao Hub: ", err));


        // Função para enviar requisição para gerar o Excel
        async function generateExcel() {
            const response = await fetch('http://localhost:5054/generate', { method: 'POST' });
            const data = await response.json();
            console.log("Excel generation started with jobId: " + data.jobId);
        }

        // Função para baixar o arquivo Excel
        async function downloadFile(jobId) {
        const downloadResponse = await fetch(`http://localhost:5054/wait-for-file/${jobId}`);

            if (downloadResponse.ok) {
                const blob = await downloadResponse.blob();
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'Relatorio.xlsx'; // Nome do arquivo que será baixado
                document.body.appendChild(a);
                a.click();
                a.remove();
            } else {
                console.error('Erro ao gerar o arquivo.');
            }
        }
</script>